.grid{
    grid-row: 1/2;
    margin: 20px 25%;
    border: solid 3px black;
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    height: 90vh;
}

@media(max-width: 1200px){
    .grid{
        margin: 20px 20%;
    }
}

@media(max-width: 900px){
    .grid{
        margin: 20px 10%;
    }
}

@media(max-width: 600px){
    .grid{
        margin: 0;
        border: none;
    }
}

#item1, #forgot_item1{
    grid-column: 2/3;
    grid-row: 1/2;
    place-self: flex-end stretch;
    text-align: center;
    font-size: large;
}

#username{
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: flex-end stretch;
    height: 35px;
}

#forgot_username{
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: flex-end stretch;
    height: 35px;
}

#pwd, #forgot_control{
    grid-column: 2/3;
    grid-row: 3/4;
    place-self: center stretch;
    height: 35px;
}

#btn_login{
    grid-column: 2/3;
    grid-row: 4/5;
    place-self: flex-end stretch;
    height: 35px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

#forgot_pass{
    grid-column: 2/3;
    grid-row: 4/5;
    place-self: flex-start stretch;
    height: 35px;
}

#forgot_repeat_pass{
    grid-column: 2/3;
    grid-row: 4/5;
    place-self: flex-end stretch;
    height: 35px;
}

#btn_forgot{
    grid-column: 2/3;
    grid-row: 5/6;
    place-self: flex-end stretch;
    height: 35px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

#btn_login:hover, #btn_forgot:hover{
    background-color: rgb(49, 113, 231);
}

#errormsg{
    grid-column: 2/3;
    grid-row: 5/6;
    place-self: flex-end stretch;
    outline: none;
    text-align: center;
    color: red;
}

#forgot_errormsg{
    grid-column: 2/3;
    grid-row: 6/7;
    place-self: flex-end stretch;
    outline: none;
    text-align: center;
    color: red;
}

#toForgot{
    grid-column: 2/3;
    grid-row: 6/7;
    place-self: flex-end stretch;
    text-align: center;
    color: blue;
    text-decoration: none;
}

#forgot_toLogin{
    grid-column: 2/3;
    grid-row: 7/8;
    place-self: flex-end stretch;
    text-align: center;
    color: blue;
    text-decoration: none;
}

#toForgot:hover, #forgot_toLogin:hover{
    text-decoration: underline;
}

#toRegister{
    grid-column: 2/3;
    grid-row: 7/8;
    place-self: flex-end stretch;
    height: 35px;
    font-weight: bold;
}

footer{
    grid-row: 2/3;
    border-top: solid 4px rgb(219, 219, 219);
    background-color: whitesmoke;
}

.loginInput, .loginButton, .forgotInput, .forgotButton{
    height: 35px;
    outline: black 2px solid;
}

.hidden {
    display: none;
}